@import url('mobileStyle.css');
@import url('tabletStyle.css');
@import url('descktopStyle.css');

html {
    margin: 0;
    padding: 0;
    background-color: #d4f0cc;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

body {
    margin: 0;
    padding: 0;
    background-color: #db7e7e;
}

header {
    background-color: #888888;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #020202;
}

.MainContent {
    margin: 20px;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
    border-radius: 1em;
}

img {
    width: 100%;
    height: auto;
}
