@import url('mobileStyle.css');
@import url('tabletStyle.css');
@import url('descktopStyle.css');

html, body {
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

#MainPhotoID {
    width: 100%;
    height: 100%;
}

#MainContent {
    margin: 20px;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
    border-radius: 1em;
}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #d0d0d0;
    display: flex;
    justify-content: center;
    align-items: center;
}